@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Gruppo&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.navbar-brand{
    font-family: "Lucida Handwriting", serif; 
  font-weight:bolder; 
  font-size: 24px; 
   }
   a{
    color: black;
    text-align: center;
   }
   .navbar-brand img{
    height: 4rem !important;
   }
   .card{
    border: solid 1px black;
   }
   .navbar {
      background:  radial-gradient(circle, #f12711, #f5af19);
      background-size: 600% 600%;
      animation: gradientAnimation 10s linear  infinite alternate;
    }

    @keyframes gradientAnimation {
      0% {
        background-position: 0% ;
      }
      50%{
        background-position: 50%;
      }
      100% {
        background-position: 100% ;
      }
    }
    body {
        

      background: url(/Shop/Images/backgorund-main.jpg);
     background-size: 100%;
      }
.greetings{
  transform: translateY(180px);
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
/* border: 2px solid #ffe100;
background-color: white; */
}
.btn {
  background-color: #f5af19;
  color:rgb(255, 255, 255);
  border-radius: 2;
  padding: 10px 20px;
  font: bold;
  font-size: 18px;
  transition: transform 0.8s ease;
}
.btn:hover{
  background-color: #f12711;
  transform: scale(1.2);
  color: white;
}
.btn:not(:hover){
transform: scale(1);
}
.mb-4{
  text-shadow: 0 0 5px #f12711, 0 0 15px #f12711, 0 0 20px #f12711, 0 0 40px #f12711, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
}
.websitename{
  font-size: calc(20px + 8vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


